/* Small laptop */
@media screen and (max-width:1024px){
    section{
        width:80%;
    }
    .nav-bar{
        .nav-container{
            width:100%;
        }
    }
}

/* Tablet */
@media screen and (max-width:768px){
    section{
        width:100%;
        padding: 10px;
        text-align: justify;
    }
}

/* Mobile */
@media screen and (max-width:425px){
    .nav-bar{
        
        position: fixed;
        
        padding: 0px;
        .nav-container{
            display:none;
        }
        .res-menu{
            display:block;
        }
        .res-logo{
            display:block;
        }
    }
    .jumbo{
        height: 250px;
        h2{
            margin: 90px auto;
            font-size: 35px;
            //color:$bg-color;
        }
        h3{
            margin: 150px auto;
            font-size: 15px;
        }
        h4{
            margin: 180px auto;
        }
    }
    .particle{
        height: 250px;
    }
    iframe{
        height: 250px;
    }
    .info{
        display:block;
    }
    .dp{
        width: fit-content;
        margin: 0 auto;
    }
    h1{
        text-align: center;
    }
    .line{
        margin-left: 150px;
    }
    .read-more{
        margin: 0 auto;
    }
    footer div{
        width: 100%;
    }
}